<div class="container" *ngIf="!subsc?.closed"><img src="../../assets/462.gif" alt="loader" class="loader"></div>
<div class="container" id="display-details">

    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Roll-No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Date</th>
            <th scope="col">Gender</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of apiData">
                <th scope="row">{{data.rollNo}}</th>
                <td>{{data.name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.age}}</td>
                <td>{{data.date}}</td>

                <td *ngIf="data.isMale">{{'Male'}}</td>
                <td *ngIf="!data.isMale">{{'Female'}}</td>
                <td><button class="btn btn-primary"
                        (click)="check(data.name,data.rollNo,data.email,data.age,data.date,data.isMale,data.id)">Edit</button>
                </td>
                <td><button class="btn btn-danger" (click)="delete(data.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" id="edit-modal" tableindex="-5" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h3 class="modal-title">Edit Input</h3>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
                <label for="rollno">New Roll-No</label>
                <input type="number" class="form-control" placeholder="New Roll-no" [(ngModel)]="update_rollNo">

                <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="New Student Name" [(ngModel)]="update_name" >

                <label for="email">New Email</label>
                <input type="email" class="form-control" placeholder="New Email-Id" [(ngModel)]="update_email">

                <label for="age">New Age</label>
                <input type="number" class="form-control" placeholder="New Age" [(ngModel)]="update_age">

                <label for="date">New Date</label>
                <input type="date" class="form-control" placeholder="New Date" [(ngModel)]="update_date">

                <div class="form-group form-check-inline" id="x">
                    <input type="radio" class="form-check-input" id="male" name="gender"  [checked]="update_isMale" (click)="genderF('Male')">
                    <label for="male" class="form-check-label">Male</label>
                </div>
                <div class="form-group form-check-inline">
                    <input type="radio" class="form-check-input" id="female" name="gender"  [checked]="!update_isMale" (click)="genderF('Female')"> 
                    <label for="female" class="form-check-label">Female</label>
                </div>
                <button class="btn btn-success" (click)="addDetails()">submit</button>
            
            
        </div>
    </div>
</div>

